__pycache__/ 
*.pyc 
venv/ 
db.sqlite3 
.vscode/ 
# Environment variables
.env
*.env

# Database
db.sqlite3

# Static files
staticfiles/

# Python
__pycache__/
*.pyc
*.pyo

# Node
node_modules/
iles-frontend/dist/